body {
    background-color:  white;
  }

.signinform {
    background-color:  #0d7951;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    border: 2px solid  #0d7951;
}

input { 
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
}
  
  